name: GitHub Actions Demo
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
jobs:
#   ....
    Build_Scan_and_Deploy:
        runs-on: ubuntu-latest
        steps:
         - name: Check out the repo
           uses: actions/checkout@v2

         - name: Get short SHA
           run: echo "GHA_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV

         - name: Build
           uses: docker/build-push-action@v2
           with:
             tags: toontjem/my-tweet-app:${{ env.GHA_SHA }},toontjem/my-tweet-app:latest
             load: true

         - name: Lacework vulnerability scan
           uses: lacework/lw-scanner-action@v0.7.1
           env:
             LW_ACCOUNT_NAME: ${{ secrets.LW_ACCOUNT_NAME }}
             LW_ACCESS_TOKEN: ${{ secrets.LW_ACCESS_TOKEN }}
           with:
             image_name: toontjem/my-tweet-app
             image_tag: ${{ env.GHA_SHA }}
             scan_library_packages: true
             SEVERITY_THRESHOLD: critical

         - name: Login to DockerHub
           uses: docker/login-action@v1
           with:
             username: ${{ secrets.DOCKERHUB_USERNAME }}
             password: ${{ secrets.DOCKERHUB_TOKEN }}

         - name: Build and push
           uses: docker/build-push-action@v2
           with:
             push: true
             tags: toontjem/my-tweet-app:${{ env.GHA_SHA }},toontjem/my-tweet-app:latest

         - name: Configure AWS credentials
           uses: aws-actions/configure-aws-credentials@v1
           with:
             aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
             aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
             aws-region: eu-central-1

         - name: Deploy to cluster
           uses: kodermax/kubectl-aws-eks@master
           env:
             KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
           with:
             args: set image deployment/my-tweet-app my-tweet-app=toontjem/my-tweet-app:${{ env.GHA_SHA }} -n lacework

         - name: Verify deployment
           uses: kodermax/kubectl-aws-eks@master
           env:
             KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
           with:
             args: rollout status deployment/my-tweet-app -w -n lacework
